@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Mansalva|Poppins&display=swap');

/* Google Fonts

font-family: 'Mansalva', cursive;
Logo
font-family: 'Poppins', sans-serif;
Links
font-family: 'Josefin Sans', sans-serif;
Headers
*/

body {
    background-color: white;
    font-size: 16px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    padding-left: 4em;
    padding-right: 4em;
    font-family: 'Poppins', sans-serif;

}

.juicyjuice {
    color: #FF5A2E !important;
    font-family: 'Mansalva', cursive;
}

.navbar-brand {
    font-size: 3em;
    color: #FF5A2E !important;
    font-family: 'Mansalva', cursive;
}

footer div {
    text-align: center;
}

.content-section {
    height: 500px;
}

.content-section-2 {
    height: 700px;
}

.farmer {
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Home Page */
.bowl {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.terms-apply {
    font-size: .8em;
}

.friends {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.apple {
    height: 200px;
    width: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;

}

.align {
    padding-top: 8%;
}

.orange {
    background-color: #FFF9C4;
}

.matcha {
    background-color: #DCEDC8
    ;
}

.tea {
    background-color: #FFECB3;
}

/* Menu */

.card {
    border-color: #FF5A2E;
    border-width: 2px;
}

.menu {
    padding-left: 50px;
    padding-right: 50px;
}

.menu-header {
    text-decoration: underline;
}

.menu-item {
    text-align: center;
}

.card {
    float: left;
    margin: 15px;
}

.clear {
    clear:left;
}

/* Rewards */

.jumbotron {
    background-image: url(images/rewards.png);
    background-size: cover;
    height: 600px;
}

.jumbotron h1 {
    color: black;
}

.jumbotron p {
    color: black;
    font-weight: bold;
}

.jumbo-center {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 150px;
}

.rewards-form {
    padding: 50px;
}